@import url('reset.css');
@import url('../css/fonts/stylesheet.css');

* {
	font-family: quicksandlight;
}

body
{	
	font-family: quicksandlight;
	background: #273A3D;
}

b {	font-family: quicksandbold;  }
i { font-family: quicksandlight_italic; }

#head 
{
	margin: 0 auto;
	width: 1200px;
	height: 125px;
}

#logo 
{
	margin-top: 75px;
	width: 400px;
	height: 50px;
	float: left;
	color: white;
	font-size: 50px;
}

#menu 
{
	margin-top: 100px;
	margin-left: 450px;
	float: left;
	color: white;
}

#menu a
{
	text-decoration: none;
	color: white;
}

#menu a:hover
{
	font-weight: bold;
}

#main_div 
{
	margin: 0 auto;
	width: 1300px;
	height: 800px;
	background: white;
	border: 2px solid #999999;
}

#cars, #registration, #car_summary, #place_adding
{
	border: 2px solid #dddddd;
	width: 650px;
	height: 550px;
	float: left;
	margin-top: 75px;
	margin-left: 75px;
	overflow-y: auto;
}


#as_owner, #as_client
{
	border: 2px solid #dddddd;
	width: 525px;
	height: 400px;
	float: left;
	margin-top: 150px;
	margin-left: 75px;
	overflow-y: auto;
}
#as_owner h1, #as_client h1
{
	font-weight: bold;
	font-size: 25px;
	margin: 10px;
}

.car 
{
	margin: 20px auto;
	border: 1px solid #999999;
	width: 600px;
	height: 100px;
	padding: 10px;
}

.car_img
{
	height: 100px;
	float: left;
}

.car_name, .car_params
{
	margin-left: 120px;
}

.car_name
{
	font-size: 25px;
	font-weight: bold;
	margin-top: 10px;
}

.car_params
{
	margin-top: 15px;
}

#details, #car_details
{
	border: 2px solid #dddddd;
	width: 400px;
	height: 550px;
	float: left;
	margin-top: 75px;
	margin-left: 75px;
	margin-bottom: 0px;
}

#details{
	text-align: center;
}

#details h1 {
	font-size: 30px;
	font-weight: bold;
}

#details p {
	font-size: 20px;
}

input[type=button], input[type=submit]
{
	margin-top: 20px;
	margin-left: 600px;
	background: #2AA876;
	color: white;
	padding: 20px;
	border: none;
	cursor: pointer;
	font-size: 20px;
	font-family: quicksandregular;
}

input[type=button]:hover, input[type=submit]:hover
{
	background: #2AB876
}

#foot
{

}

a {
	text-decoration: none;
	color: #333333;
}


#login_div
{
	width: 500px;
	height: 250px;
	margin: 0 auto;
	margin-top: 200px;
}

#login_input, #pass_input
{
	width: 300px;
	height: 40px;
	margin-top: 10px;
	margin-left: 100px;
	text-align: center;
	font-size: 20px;
	outline: none;
	border: 1px solid #2AA876;
	color: #2AA876;
}

#login_input
{
	margin-top: 70px;
}

#pass_input
{

}

#login
{
	margin-top: 200px;
	margin-left: 675px;

}

#registration #fields, #place_adding #fields
{
	height: 300px;
	width: 500px;
	margin: 0 auto;
	margin-top: 115px;
}

#edit_profile{
	height: 130px;
	width: 500px;
	margin: 0 auto;
	margin-top: 15px;
}

#edit_profile input {
	margin-top: 20px;
	margin-right: 20px;
	text-align: center;
	font-size: 20px;
	outline: none;
	border: 1px solid #999999;
}
#edit_profile input[type="button"]{
	font-size: 15px;
}

#registration input, #place_adding input
{
	margin-top: 20px;
	margin-right: 20px;
	text-align: center;
	font-size: 20px;
	outline: none;
	border: 1px solid #999999;
}

.radio
{
	width: 100px;
	height: 20px;
}

.short
{
	width: 225px;

}

.long
{
	width: 475px;
}

#roa
{
	margin: 10px auto;
	width: 350px;
	height: 350px;	
	overflow-y: auto;
}

#accept_roa
{
	margin-left: 250px;
}

#main_title
{
	margin-top: 50px;
	font-size: 75px;
	text-align: center;
	color: #333333;
}

#cars_top
{
	border: 2px solid #dddddd;
	width: 650px;
	height: 400px;

	margin: 0 auto;
	margin-top: 75px;
	overflow-y: auto;
}

#car_summary
{
		text-align: center;
}

#days
{
	margin-bottom: 20px;
	text-align: center;
	font-size: 20px;
	outline: none;
	border: 1px solid #999999;
}

#cost
{
	font-size: 40px;

}

li {
	cursor: pointer;
}

.selected {
	border: 3px solid #2AA876;
}

.place_img {
	height: 250px;
	width: 250px;
	position: center;
}
#cost_final{
	font-size: 50px;
}
#details_inside{
	margin: 10px;
	text-align: left;
}
#details_inside p {
	padding: 5px;
	display: inline-block;
}

#details_inside p input{
	margin-left: 15px;
	width: 120px;
	font-size: 15px;
	border-radius: 2px;
	border: 1px solid gray;
	padding: 5px;
	float: right;
}

#details_inside p input[type="range"]{
	width: 150px;
}

#lpval {
	margin-left: 5px;
}

.place {
	border: 1px solid gray;
	margin: 5px;
	padding: 2px;
}

#accept_offer, #decline_offer {
	font-size: 18px;
}

#accept_offer {
	color: green;
}

#decline_offer {
	color: red;
}
